[Unit]
Description=Run script on first boot when network is reachable
ConditionFirstBoot=yes
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/etc/first-boot.sh
TimeoutStartSec=0
Type=oneshot

# For robustness, units with  should order themselves before first-boot-complete.target and pull in this passive target with Wants=. 
# This ensures that in a case of an aborted first boot, these units will be re-run during the next system startup.

[Install]
WantedBy=default.target